<section class="page">
  <div class="row">
    <div class="tweet">
      <span class="tweet-avatar">
        <p class="avatar"></p>
        <span class="tweet-name">Omolayo Victor</span>
        <br />
        <a
          href="https://twitter.com/kingkonsole"
          class="tweet-alias"
          target="_blank"
          >@kingkonsole</a
        >
      </span>
      <a
        href="ttps://twitter.com/kingkonsole"
        class="tweet-icon"
        target="_blank"
      ></a>
      <p>
        Free and fast youtube downloader for any file format
        <a href="https://twitter.com/kingkonsole" target="_blank"
          >@kingkonsole</a
        >. The best out there.
      </p>
    </div>
  </div>
</section>
