* {
  box-sizing: border-box;
}

.row {
  top: 0px;
  opacity: 1;
  max-width: 620px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.tweet {
  margin-top: 5px;
  margin-bottom: 120px;
  max-width: 475px;
  border-radius: 6px;
  padding: 23px 23px 14px 23px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #fafafa;
  margin: 0 auto;
}

.tweet-avatar {
  display: block;
  float: left;
}

.tweet-avatar .avatar {
  float: left;
  vertical-align: top;
  padding-right: 11.5px;
}

.tweet-name {
  font-weight: bold;
  color: #0b0b0d;
  line-height: 19px;
  text-decoration: none;
  font-size: 15px;
}

.tweet-alias {
  font-size: 13.5px;
  font-weight: 300;
  line-height: 19px;
  color: rgba(68, 68, 68, 0.5);
  text-decoration: none;
}

.tweet-icon {
  display: block;
  float: right;
  width: 20px;
  height: 21px;
  background-image: url(../../assets/svg/twitter_bird.svg);
  background-repeat: no-repeat;
  background-size: 18px 15px;
  background-position: right 2px;
  -webkit-tap-highlight-color: transparent;
}

.tweet p {
  clear: both;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  color: #545355;
  padding: 15px 0 14px 0;
}

.tweet p a,
.tweet ul a {
  color: #0049f5;
  text-decoration: none;
}

.avatar {
  background-image: url(../../assets/images/avatar.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  width: 39px;
  height: 38px;
  margin-right: 15px;
  margin-top: 2px;
}
