<section id="onerule" class="page">
  <div class="row">
    <p>Download History, see recent download.</p>
  </div>

  <div class="wide-row image-row">
    <div class="screen">
      <div class="screen-inner">
        <div class="status">
          <img src="../../assets/svg/youtube.svg" alt="youtube" />
          <img
            src="../../assets/svg/download_done.svg"
            alt="status"
            title="Succes"
          />
        </div>

        <div class="title">
          <p>ALi and the bush guy: 4k version</p>
        </div>

        <div class="detail">
          <small>40MB</small>
          <img
            src="../../assets/svg/save.svg"
            alt="save"
            title="Download Video"
          />
        </div>
      </div>
    </div>
  </div>
</section>
